@(lang: String)

@main(lang) {

    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" id="archeologyPage" style="background-image: url(@routes.Assets.versioned("images/xorazm_tarixi.jpg"));
        background-position: center;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title">
                            <h1 class="text-uppercase" id="monuments-header-title-1"></h1>
                        </div>
                        <div class="breadcrumb-menu">
                            <ul class="clearfix">
                                <li><a href="/" id="monuments-home-menu"></a></li>
                                <li class="active" id="monuments-sub-menu"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="#scc" class="scrollDownArrow" style="width: 2em;
            height: 2em;
            background-color: transparent;
            z-index: 80;
            bottom: 25px;
            position: absolute;
            border-width: 0 0.25em 0.25em 0;
            border-style: solid;
            border-color: antiquewhite;
            animation: scrolldown 1.2s ease-in-out infinite 0.15s;"></a>
        <a href="#scc" class="scrollDownArrow" style="width: 2em;
            height: 2em;
            background-color: transparent;
            z-index: 80;
            bottom: 40px;
            position: absolute;
            border-width: 0 0.25em 0.25em 0;
            border-style: solid;
            border-color: antiquewhite;
            animation: scrolldown 1.2s ease-in-out infinite;"></a>
    </section>
        <!--End breadcrumb area-->
        <!--Start blog single area-->
    <style>
            .custom-tabs a {
                color: #555;
            }

            .active a {
                /*text-decoration: underline;*/
                color: #160f0a;
                font-weight: bolder;
            }

            .custom-tabs {
                padding: 5px 25px;
                border: 1px solid #ffba00;
                border-radius: 25px;
                margin: 5px;
            }
            .custom-bg {
                backdrop-filter: blur(10px);
            }
    </style>
    <section class="blog-single-area" id="scc">
        <div class="container rounded" style="background-image: url(@routes.Assets.versioned("/images/big-bg.jpg"));
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover">
            <ul class="nav nav-tabs custom-bg rounded d-flex justify-content-center">
                <li class="custom-tabs active">
                    <a href="#1" data-toggle="tab" id="#1"></a>
                </li>
                <li class="custom-tabs"><a href="#2" data-toggle="tab" id="#2"></a>
                </li>
                <li class="custom-tabs"><a href="#3" data-toggle="tab" id="#3"></a>
                </li>
                <li class="custom-tabs"><a href="#4" data-toggle="tab" id="#4"></a>
                </li>
                <li class="custom-tabs"><a href="#5" data-toggle="tab" id="#5"></a>
                </li>
                <li class="custom-tabs"><a href="#7" data-toggle="tab" id="#7"></a>
                </li>
                <li class="custom-tabs"><a href="#6" data-toggle="tab" id="#6"></a>
                </li>
                <li class="custom-tabs"><a href="#8" data-toggle="tab" id="#8"></a>
                </li>
                <li class="custom-tabs"><a href="#9" data-toggle="tab" id="#9"></a>
                </li>
                <li class="custom-tabs"><a href="#10" data-toggle="tab" id="#10"></a>
                </li>
                <li class="custom-tabs"><a href="#11" data-toggle="tab" id="#11"></a>
                </li>
                <li class="custom-tabs"><a href="#12" data-toggle="tab" id="#12"></a>
                </li>
                <li class="custom-tabs"><a href="#13" data-toggle="tab" id="#13"></a>
                </li>
            </ul>

            <div class="tab-content lead text-justify text-dark">
                    <!-- 1 -->
                <div class="tab-pane active" id="1">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="blog-post" >
                                <div class="blog-details-content">
                                    <div class="text-holder">
                                        <h2 class="blog-title" id="monuments-blog-title-one-1"></h2>
                                        <div class="text">
                                            <p class="mar-bottom" id="monuments-blog-info-one-1"></p>
                                        </div>
                                    </div>
                                    <p id="monuments-blog-info-one-2"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- 2 -->
                <div class="tab-pane" id="2">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-two-1"></h2>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-two-1"></p>
                            </div>
                        </div>
                        <p id="monuments-blog-info-two-2"></p>
                    </div>
                </div>
                    <!-- 3 -->
                <div class="tab-pane" id="3">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-three-1"></h2>
                            <div class="img-holder mb-2">
                                <img class="rounded" src="@routes.Assets.versioned("images/Ichanqaladevori.jpg")" alt="Awesome Image">
                            </div>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-three-1"></p>
                            </div>
                        </div>
                        <p id="monuments-blog-info-three-2"></p>
                    </div>
                </div>
                    <!-- 4 -->
                <div class="tab-pane" id="4">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-four-1"></h2>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-four-1"></p>
                            </div>
                        </div>
                        <p id="monuments-blog-info-four-2"></p>
                    </div>
                </div>
                    <!-- 5 -->
                <div class="tab-pane" id="5">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-five-1"></h2>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-five-1"></p>
                            </div>
                        </div>
                        <p id="monuments-blog-info-five-2"></p>
                    </div>
                </div>
                    <!-- 6 -->
                <div class="tab-pane" id="6">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-six-1"></h2>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-six-1"></p>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- 7 -->
                <div class="tab-pane" id="7">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-seven-1"></h2>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-seven-1"></p>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- 8 -->
                <div class="tab-pane" id="8">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-nine-1"></h2>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-nine-1"></p>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- 9 -->
                <div class="tab-pane" id="9">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-eight-1"></h2>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-eight-1"></p>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- 10 -->
                <div class="tab-pane" id="10">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-ten-1"></h2>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-ten-1"></p>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- 11 -->
                <div class="tab-pane" id="11">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-11-1"></h2>
                            <div class="img-holder">
                                <img class="rounded" src="@routes.Assets.versioned("images/OqShayxbobo.jpg")" alt="Awesome Image">
                            </div>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-11-1"></p>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- 12 -->
                <div class="tab-pane" id="12">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-12"></h2>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-12"></p>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- 13 -->
                <div class="tab-pane" id="13">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-13"></h2>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-13"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!--End blog single area-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
}
