@(lang: String)

@main(lang) {

  <!--Start breadcrumb area-->
  <section class="breadcrumb-area" id="eventsPage" style="background-image: url(@routes.Assets.versioned("./images/1920/1920_2.jpg"));">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="inner-content clearfix">
            <div class="title">
              <h1 id="news-header"></h1>
            </div>
            <div class="breadcrumb-menu">
              <ul class="clearfix">
                <li><a href="/" id="sub-menu-home"></a></li>
                <li class="active" id="sub-menu-news"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a href="#scc" class="scrollDownArrow" style="width: 2em;
      height: 2em;
      background-color: transparent;
      z-index: 80;
      bottom: 25px;
      position: absolute;
      border-width: 0 0.25em 0.25em 0;
      border-style: solid;
      border-color: antiquewhite;
      animation: scrolldown 1.2s ease-in-out infinite 0.15s;"></a>
    <a href="#scc" class="scrollDownArrow" style="width: 2em;
      height: 2em;
      background-color: transparent;
      z-index: 80;
      bottom: 40px;
      position: absolute;
      border-width: 0 0.25em 0.25em 0;
      border-style: solid;
      border-color: antiquewhite;
      animation: scrolldown 1.2s ease-in-out infinite;"></a>
  </section>
    <!--End breadcrumb area-->
    <!--Start Events Style3 Area-->
  <section class="events-style3-area pdbottom0" id="scc">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
            <!--Start Single event Box Style3-->
          <div class="single-event-box-style3">
            <div class="row">
              <div class="col-xl-5">
                <div class="title-holder mt-0 pt-0">
                  <span id="news-title1"></span>
                  <h2><a href="http://www.mamun.uz/site/news/news/1089" id="news-content1"></a></h2>
                  <p>16-09-2021 - <a href="/events" id="latest-news1"></a></p>
                  <div class="button">
                    <a class="btn-two mb-md-3" id="read-more1" href="http://www.mamun.uz/site/news/news/1089"></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("./images/events/event3.png")" alt="Awesome Image">
                    <div class="overlay-style-one bg1"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="date-holder">
                  <div class="inner">
                    <h1>16<span id="sep1"></span></h1>
                    <h3 id="wed1"></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End Single event Box Style3-->
            <!--Start Single event Box Style3-->
          <div class="single-event-box-style3">
            <div class="row">
              <div class="col-xl-5">
                <div class="title-holder mt-0 pt-0">
                  <span id="news-title2"></span>
                  <h2><a href="https://khivamuseum.uz/uz/ichon-kala-muzey-kurikhonasida-raks-sehri-halkaro-festivali-boshlandi" id="news-content2"></a></h2>
                  <p>16-09-2021 - <a href="/events" id="latest-news2"></a></p>
                  <div class="button">
                    <a class="btn-two mb-md-3" id="read-more6" href="https://khivamuseum.uz/uz/ichon-kala-muzey-kurikhonasida-raks-sehri-halkaro-festivali-boshlandi"></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("./images/events/event9.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg1"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="date-holder">
                  <div class="inner">
                    <h1>16<span id="sep2"></span></h1>
                    <h3 id="wed2"></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End Single event Box Style3-->
            <!--Start Single event Box Style3-->
          <div class="single-event-box-style3">
            <div class="row">
              <div class="col-xl-5">
                <div class="title-holder mt-0 pt-0">
                  <span id="news-title3"></span>
                  <h2><a href="https://khivamuseum.uz/uz/ozbekistonga-bagishlangan-fotokorgazma-yaponiyada" id="news-content3"></a></h2>
                  <p>16-09-2021 - <a href="/events" id="latest-news3"></a></p>
                  <div class="button">
                    <a class="btn-two mb-md-3" id="read-more2" href="https://khivamuseum.uz/uz/ozbekistonga-bagishlangan-fotokorgazma-yaponiyada"></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("./images/events/event11.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg1"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="date-holder">
                  <div class="inner">
                    <h1>16<span id="sep3"></span></h1>
                    <h3 id="wed3"></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End Single event Box Style3-->
            <!--Start Single event Box Style3-->
          <div class="single-event-box-style3">
            <div class="row">
              <div class="col-xl-5">
                <div class="title-holder mt-0 pt-0">
                  <span id="news-title4"></span>
                  <h2><a href="https://khivamuseum.uz/uz/horazmda-lazgi-festivali" id="news-content4"></a></h2>
                  <p>16-09-2021 - <a href="/events" id="latest-news4"></a></p>
                  <div class="button">
                    <a class="btn-two mb-md-3" id="read-more3" href="https://khivamuseum.uz/uz/horazmda-lazgi-festivali"></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("./images/events/event10.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg1"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="date-holder">
                  <div class="inner">
                    <h1>16<span id="sep4"></span></h1>
                    <h3 id="wed4"></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End Single event Box Style3-->
            <!--Start Single event Box Style3-->
          <div class="single-event-box-style3">
            <div class="row">
              <div class="col-xl-5">
                <div class="title-holder mt-0 pt-0">
                  <span id="news-title5"></span>
                  <h2><a href="http://www.mamun.uz/site/news/news/1094" id="news-content5"></a></h2>
                  <p>16-09-2021 - <a href="/events" id="latest-news5"></a></p>
                  <div class="button">
                    <a class="btn-two mb-md-3" id="read-more4" href="http://www.mamun.uz/site/news/news/1094"></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("./images/events/event4.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg1"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="date-holder">
                  <div class="inner">
                    <h1>16<span id="sep5"></span></h1>
                    <h3 id="wed5"></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End Single event Box Style3-->
            <!--Start Single event Box Style3-->
          <div class="single-event-box-style3">
            <div class="row">
              <div class="col-xl-5">
                <div class="title-holder mt-0 pt-0">
                  <span id="news-title6"></span>
                  <h2><a href="https://khivamuseum.uz/uz/xiva-shahrida-raqslar-sehrli-xalqaro-festivali-boshlandi" id="news-content6"></a></h2>
                  <p>16-07-2021 - <a href="/events" id="latest-news6"></a></p>
                  <div class="button">
                    <a class="btn-two mb-md-3" id="read-more5" href="https://khivamuseum.uz/uz/xiva-shahrida-raqslar-sehrli-xalqaro-festivali-boshlandi"></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("./images/events/event5.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg1"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="date-holder">
                  <div class="inner">
                    <h1>16<span id="aug1"></span></h1>
                    <h3 id="tue1"></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End Single event Box Style3-->
            <!--Start Single event Box Style3-->
          <div class="single-event-box-style3">
            <div class="row">
              <div class="col-xl-5">
                <div class="title-holder mt-0 pt-0">
                  <span id="news-title7"></span>
                  <h2><a href="https://khivamuseum.uz/uz/xiva-dunyoning-eng-gozal-shaharlari-royxatidan-joy-oldi" id="news-content7"></a></h2>
                  <p>16-07-2021 - <a href="/events" id="latest-news7"></a></p>
                  <div class="button">
                    <a class="btn-two mb-md-3" id="read-more7" href="https://khivamuseum.uz/uz/xiva-dunyoning-eng-gozal-shaharlari-royxatidan-joy-oldi"></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("./images/events/event6.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg1"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="date-holder">
                  <div class="inner">
                    <h1>16<span id="aug2"></span></h1>
                    <h3 id="tue2"></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End Single event Box Style3-->
            <!--Start Single event Box Style3-->
          <div class="single-event-box-style3">
            <div class="row">
              <div class="col-xl-5">
                <div class="title-holder mt-0 pt-0">
                  <span id="news-title8"></span>
                  <h2><a href="https://khivamuseum.uz/uz/ichon-kalada-halkaro-bakhodirlar-uyini-turniriga-start-berildi" id="news-content8"></a></h2>
                  <p>16-07-2021 - <a href="/events" id="latest-news8"></a></p>
                  <div class="button">
                    <a class="btn-two mb-md-3" id="read-more8" href="https://khivamuseum.uz/uz/ichon-kalada-halkaro-bakhodirlar-uyini-turniriga-start-berildi"></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("./images/events/event8.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg1"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="date-holder">
                  <div class="inner">
                    <h1>16<span id="aug3"></span></h1>
                    <h3 id="tue3"></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End Single event Box Style3-->
            <!--Start Single event Box Style3-->
          <div class="single-event-box-style3">
            <div class="row">
              <div class="col-xl-5">
                <div class="title-holder mt-0 pt-0">
                  <span id="news-title9"></span>
                  <h2><a href="http://www.mamun.uz/site/news/news/1025" id="news-content9"></a></h2>
                  <p>24-05-2021 - <a href="/events" id="latest-news9"></a></p>
                  <div class="button">
                    <a class="btn-two mb-md-3" id="read-more9" href="http://www.mamun.uz/site/news/news/1025"></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("./images/events/event2.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg1"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="date-holder">
                  <div class="inner">
                    <h1>24<span id="may1"></span></h1>
                    <h3 id="mon1"></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End Single event Box Style3-->
            <!--Start Single event Box Style3-->
          <div class="single-event-box-style3">
            <div class="row">
              <div class="col-xl-5">
                <div class="title-holder mt-0 pt-0">
                  <span id="news-title10"></span>
                  <h2><a href="https://khivamuseum.uz/uz/ozbekistonga-bagishlangan-fotokorgazma-yaponiyada" id="news-content10"></a></h2>
                  <p>17-05-2021 - <a href="/events" id="latest-news10"></a></p>
                  <div class="button">
                    <a class="btn-two mb-md-3" id="read-more10" href="https://khivamuseum.uz/uz/ozbekistonga-bagishlangan-fotokorgazma-yaponiyada"></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("./images/events/event12.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg1"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="date-holder">
                  <div class="inner">
                    <h1>17<span id="may2"></span></h1>
                    <h3 id="mon2"></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End Single event Box Style3-->
            <!--Start Single event Box Style3-->
          <div class="single-event-box-style3">
            <div class="row">
              <div class="col-xl-5">
                <div class="title-holder mt-0 pt-0">
                  <span id="news-title11"></span>
                  <h2><a href="https://khivamuseum.uz/uz/ozbekistonga-bagishlangan-fotokorgazma-yaponiyada" id="news-content11"></a></h2>
                  <p>17-05-2021 - <a href="/events" id="latest-news11"></a></p>
                  <div class="button">
                    <a class="btn-two mb-md-3" id="read-more11" href="https://khivamuseum.uz/uz/ozbekistonga-bagishlangan-fotokorgazma-yaponiyada"></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("./images/events/event13.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg1"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="date-holder">
                  <div class="inner">
                    <h1>17<span id="may3"></span></h1>
                    <h3 id="mon3"></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End Single event Box Style3-->
            <!--Start Single event Box Style3-->
          <div class="single-event-box-style3">
            <div class="row">
              <div class="col-xl-5">
                <div class="title-holder mt-0 pt-0">
                  <span id="news-title12"></span>
                  <h2><a href="https://khivamuseum.uz/uz/hivada-temiryul-va-vokzal-ochildi" id="news-content12"></a></h2>
                  <p>30-11-2020 - <a href="/events" id="latest-news12"></a></p>
                  <div class="button">
                    <a class="btn-two mb-md-3" id="read-more12" href="https://khivamuseum.uz/uz/hivada-temiryul-va-vokzal-ochildi"></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("./images/events/event7.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg1"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="date-holder">
                  <div class="inner">
                    <h1>30<span id="nov"></span></h1>
                    <h3 id="mon4"></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End Single event Box Style3-->
            <!--Start Single event Box Style3-->
          <div class="single-event-box-style3">
            <div class="row">
              <div class="col-xl-5">
                <div class="title-holder mt-0 pt-0">
                  <span id="news-title13"></span>
                  <h2><a href="http://www.mamun.uz/site/news/news/901" id="news-content13"></a></h2>
                  <p>07-09-2020 - <a href="/events" id="latest-news13"></a></p>
                  <div class="button">
                    <a class="btn-two mb-md-3" id="read-more13" href="http://www.mamun.uz/site/news/news/901"></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("./images/events/event1.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg1"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="date-holder">
                  <div class="inner">
                    <h1>07<span id="sep6"></span></h1>
                    <h3 id="mon5"></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End Single event Box Style3-->
        </div>
      </div>
    </div>
  </section>
    <!--End Events Style3 Area-->
}
