@()

@main() {

    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" style="background-image: url(@routes.Assets.versioned("./images/1920/1920_2.jpg"));">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title">
                            <h1>Events</h1>
                        </div>
                        <div class="breadcrumb-menu">
                            <ul class="clearfix">
                                <li><a href="/">Home</a></li>
                                <li class="active">Events</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!--End breadcrumb area-->

        <!--Start Events Style3 Area-->
    <section class="events-style3-area pdbottom0">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                        <!--Start Single event Box Style3-->
                    <div class="single-event-box-style3">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="title-holder mt-0 pt-0">
                                    <span>YANGI TUMANGA YANGICHA NIGOH BILAN</span>
                                    <h2><a href="http://www.mamun.uz/site/news/news/901"> Xorazm Ma’mun akademiyasi Ijtimoiy-gumanitar bo‘limining bir guruh ...</a></h2>
                                    <p>07-09-2020 - <a href="/events">So`ggi yangiliklar</a></p>
                                    <div class="button">
                                        <a class="btn-two mb-md-3" href="http://www.mamun.uz/site/news/news/901">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="@routes.Assets.versioned("./images/events/event1.jpg")" alt="Awesome Image">
                                        <div class="overlay-style-one bg1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="date-holder">
                                    <div class="inner">
                                        <h1>07<span>Sep</span></h1>
                                        <h3>Tuesday</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--End Single event Box Style3-->
                        <!--Start Single event Box Style3-->
                    <div class="single-event-box-style3">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="title-holder mt-0 pt-0">
                                    <span>“XORAZM SHAHARLARI TARIXI ZAMONAVIY TADQIQOTLARDA” MAVZUSIDA RESPUBLIKA ILMIY ANJUMANI</span>
                                    <h2><a href="http://www.mamun.uz/site/news/news/1025"> 21-may kuni Respublika ilmiy anjumani o‘tkazildi ...</a></h2>
                                    <p>24-05-2021 - <a href="/events">So`ggi yangiliklar</a></p>
                                    <div class="button">
                                        <a class="btn-two mb-md-3" href="http://www.mamun.uz/site/news/news/1025">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="@routes.Assets.versioned("./images/events/event2.jpg")" alt="Awesome Image">
                                        <div class="overlay-style-one bg1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="date-holder">
                                    <div class="inner">
                                        <h1>24<span>Sep</span></h1>
                                        <h3>Monday</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--End Single event Box Style3-->
                        <!--Start Single event Box Style3-->
                    <div class="single-event-box-style3">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="title-holder mt-0 pt-0">
                                    <span>XIVA SHAHRIDA XALQARO FORUM</span>
                                    <h2><a href="http://www.mamun.uz/site/news/news/1089"> 2021 yil 14-15 sentyabr kunlari Xiva shahrida ...</a></h2>
                                    <p>16-09-2021 - <a href="/events">So`ggi yangiliklar</a></p>
                                    <div class="button">
                                        <a class="btn-two mb-md-3" href="http://www.mamun.uz/site/news/news/1089">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="@routes.Assets.versioned("./images/events/event3.png")" alt="Awesome Image">
                                        <div class="overlay-style-one bg1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="date-holder">
                                    <div class="inner">
                                        <h1>16<span>Sep</span></h1>
                                        <h3>Thursday</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--End Single event Box Style3-->
                        <!--Start Single event Box Style3-->
                    <div class="single-event-box-style3">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="title-holder mt-0 pt-0">
                                    <span>XIVADA “MARKAZIY OSIYO SIVILIZASIYALARI CHORRAHASIDA” XALQARO FORUMI</span>
                                    <h2><a href="http://www.mamun.uz/site/news/news/1094"> Kecha 15-sentyabr kuni Xiva shahridagi hashamatli “Nurillaboy” majmuasida ...</a></h2>
                                    <p>16-09-2021 - <a href="/events">So`ggi yangiliklar</a></p>
                                    <div class="button">
                                        <a class="btn-two mb-md-3" href="http://www.mamun.uz/site/news/news/1094">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="@routes.Assets.versioned("./images/events/event4.jpg")" alt="Awesome Image">
                                        <div class="overlay-style-one bg1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="date-holder">
                                    <div class="inner">
                                        <h1>16<span>Sep</span></h1>
                                        <h3>Thursday</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--End Single event Box Style3-->
                        <!--Start Single event Box Style3-->
                    <div class="single-event-box-style3">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="title-holder mt-0 pt-0">
                                    <span>Xiva shahrida "Raqslar sehrli" xalqaro festivali boshlandi</span>
                                    <h2><a href="https://khivamuseum.uz/uz/xiva-shahrida-raqslar-sehrli-xalqaro-festivali-boshlandi">15-iyuldan 17-iyulgacha Xiva shahrida "Raqs sehrli" xalqaro raqs festivali bo'lib o'tadi ...</a></h2>
                                    <p>16-07-2021 - <a href="/events">So`ggi yangiliklar</a></p>
                                    <div class="button">
                                        <a class="btn-two mb-md-3" href="https://khivamuseum.uz/uz/xiva-shahrida-raqslar-sehrli-xalqaro-festivali-boshlandi">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="@routes.Assets.versioned("./images/events/event5.jpg")" alt="Awesome Image">
                                        <div class="overlay-style-one bg1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="date-holder">
                                    <div class="inner">
                                        <h1>16<span>Jul</span></h1>
                                        <h3>Friday</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--End Single event Box Style3-->
                        <!--Start Single event Box Style3-->
                    <div class="single-event-box-style3">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="title-holder mt-0 pt-0">
                                    <span>Xiva dunyoning eng go‘zal shaharlari ro‘yxatidan joy oldi</span>
                                    <h2><a href="https://khivamuseum.uz/uz/xiva-dunyoning-eng-gozal-shaharlari-royxatidan-joy-oldi">So‘nggi kunlarda g‘arbiy Evropaning turli bosma va elektron nashrlarida yurtimiz ...</a></h2>
                                    <p>16-07-2021 - <a href="/events">So`ggi yangiliklar</a></p>
                                    <div class="button">
                                        <a class="btn-two mb-md-3" href="https://khivamuseum.uz/uz/xiva-dunyoning-eng-gozal-shaharlari-royxatidan-joy-oldi">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="@routes.Assets.versioned("./images/events/event6.jpg")" alt="Awesome Image">
                                        <div class="overlay-style-one bg1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="date-holder">
                                    <div class="inner">
                                        <h1>15<span>Oct</span></h1>
                                        <h3>Friday</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--End Single event Box Style3-->
                        <!--Start Single event Box Style3-->
                    <div class="single-event-box-style3">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="title-holder mt-0 pt-0">
                                    <span>Xivada temiryo‘l va vokzal ochildi</span>
                                    <h2><a href="https://khivamuseum.uz/uz/hivada-temiryul-va-vokzal-ochildi">Prezident Shavkat Mirziyoyev 29 noyabr kuni Urganch - Xiva poyezdida Xiva shahriga ...</a></h2>
                                    <p>30-11-2020 - <a href="/events">So`ggi yangiliklar</a></p>
                                    <div class="button">
                                        <a class="btn-two mb-md-3" href="https://khivamuseum.uz/uz/hivada-temiryul-va-vokzal-ochildi">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="@routes.Assets.versioned("./images/events/event7.jpg")" alt="Awesome Image">
                                        <div class="overlay-style-one bg1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="date-holder">
                                    <div class="inner">
                                        <h1>30<span>Nov</span></h1>
                                        <h3>Monday</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--End Single event Box Style3-->
                        <!--Start Single event Box Style3-->
                    <div class="single-event-box-style3">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="title-holder mt-0 pt-0">
                                    <span>Ichon-Qal’ada xalqaro “Bahodirlar o‘yini” turniriga start berildi!</span>
                                    <h2><a href="https://khivamuseum.uz/uz/ichon-kalada-halkaro-bakhodirlar-uyini-turniriga-start-berildi">Uzoq kutilgan Xalqaro “Bahodirlar o‘yini” turniriga start berildi! ...</a></h2>
                                    <p>16-07-2021 - <a href="/events">So`ggi yangiliklar</a></p>
                                    <div class="button">
                                        <a class="btn-two mb-md-3" href="https://khivamuseum.uz/uz/ichon-kalada-halkaro-bakhodirlar-uyini-turniriga-start-berildi">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="@routes.Assets.versioned("./images/events/event8.jpg")" alt="Awesome Image">
                                        <div class="overlay-style-one bg1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="date-holder">
                                    <div class="inner">
                                        <h1>15<span>Oct</span></h1>
                                        <h3>Friday</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--End Single event Box Style3-->
                        <!--Start Single event Box Style3-->
                    <div class="single-event-box-style3">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="title-holder mt-0 pt-0">
                                    <span>Ichon-Qal’a muzey qo‘riqxonasida - “Raqs sexri” xalqaro festivali boshlandi</span>
                                    <h2><a href="https://khivamuseum.uz/uz/ichon-kala-muzey-kurikhonasida-raks-sehri-halkaro-festivali-boshlandi">Turizmni rivojlantirish davlat qo‘mitasi va boshqa tashkilotlar hamkorligida Xiva shahridagi ...</a></h2>
                                    <p>16-09-2021 - <a href="/events">So`ggi yangiliklar</a></p>
                                    <div class="button">
                                        <a class="btn-two mb-md-3" href="https://khivamuseum.uz/uz/ichon-kala-muzey-kurikhonasida-raks-sehri-halkaro-festivali-boshlandi">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="@routes.Assets.versioned("./images/events/event9.jpg")" alt="Awesome Image">
                                        <div class="overlay-style-one bg1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="date-holder">
                                    <div class="inner">
                                        <h1>15<span>Sep</span></h1>
                                        <h3>Wednesday</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--End Single event Box Style3-->
                        <!--Start Single event Box Style3-->
                    <div class="single-event-box-style3">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="title-holder mt-0 pt-0">
                                    <span>Xorazmda lazgi festivali</span>
                                    <h2><a href="https://khivamuseum.uz/uz/horazmda-lazgi-festivali">O‘zbekiston Respublikasi Prezidenti Shavkat Mirziyoyevning “Lazgi” xalqaro raqs festivalini tashkil etish va o‘tkazish to‘g‘risida”gi qarorni ...</a></h2>
                                    <p>16-09-2021 - <a href="/events">So`ggi yangiliklar</a></p>
                                    <div class="button">
                                        <a class="btn-two mb-md-3" href="https://khivamuseum.uz/uz/horazmda-lazgi-festivali">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="@routes.Assets.versioned("./images/events/event10.jpg")" alt="Awesome Image">
                                        <div class="overlay-style-one bg1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="date-holder">
                                    <div class="inner">
                                        <h1>15<span>Sep</span></h1>
                                        <h3>Wednesday</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--End Single event Box Style3-->
                        <!--Start Single event Box Style3-->
                    <div class="single-event-box-style3">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="title-holder mt-0 pt-0">
                                    <span>O'zbekistonga bag'ishlangan fotoko'rgazma Yaponiyada</span>
                                    <h2><a href="https://khivamuseum.uz/uz/ozbekistonga-bagishlangan-fotokorgazma-yaponiyada">2020 yil noyabr oyida Yaponiyada, Olimpiya va Paralimpiya o'yinlari uchun boks bo'yicha...</a></h2>
                                    <p>16-09-2021 - <a href="/events">So`ggi yangiliklar</a></p>
                                    <div class="button">
                                        <a class="btn-two mb-md-3" href="https://khivamuseum.uz/uz/ozbekistonga-bagishlangan-fotokorgazma-yaponiyada">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="@routes.Assets.versioned("./images/events/event11.jpg")" alt="Awesome Image">
                                        <div class="overlay-style-one bg1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="date-holder">
                                    <div class="inner">
                                        <h1>15<span>Sep</span></h1>
                                        <h3>Wednesday</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--End Single event Box Style3-->
                        <!--Start Single event Box Style3-->
                    <div class="single-event-box-style3">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="title-holder mt-0 pt-0">
                                    <span>Xorazmda lazgi festivali</span>
                                    <h2><a href="https://khivamuseum.uz/uz/horazmda-lazgi-festivali">O‘zbekiston Respublikasi Prezidenti Shavkat Mirziyoyevning “Lazgi” xalqaro raqs festivalini tashkil etish va o‘tkazish to‘g‘risida”gi qarorni ...</a></h2>
                                    <p>16-09-2021 - <a href="/events">So`ggi yangiliklar</a></p>
                                    <div class="button">
                                        <a class="btn-two mb-md-3" href="https://khivamuseum.uz/uz/horazmda-lazgi-festivali">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="@routes.Assets.versioned("./images/events/event10.jpg")" alt="Awesome Image">
                                        <div class="overlay-style-one bg1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="date-holder">
                                    <div class="inner">
                                        <h1>15<span>Sep</span></h1>
                                        <h3>Wednesday</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--End Single event Box Style3-->
                        <!--Start Single event Box Style3-->
                    <div class="single-event-box-style3">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="title-holder mt-0 pt-0">
                                    <span>Xalqaro konferensiya</span>
                                    <h2><a href="https://khivamuseum.uz/uz/ozbekistonga-bagishlangan-fotokorgazma-yaponiyada">Bugun 17 may 2021 yilda Yevropa tiklanish va taraqqiyot banki  tamonidan tashkillashtirilgan ...</a></h2>
                                    <p>17-05-2021 - <a href="/events">So`ggi yangiliklar</a></p>
                                    <div class="button">
                                        <a class="btn-two mb-md-3" href="https://khivamuseum.uz/uz/ozbekistonga-bagishlangan-fotokorgazma-yaponiyada">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="@routes.Assets.versioned("./images/events/event12.jpg")" alt="Awesome Image">
                                        <div class="overlay-style-one bg1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="date-holder">
                                    <div class="inner">
                                        <h1>17<span>May</span></h1>
                                        <h3>Monday</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--End Single event Box Style3-->
                        <!--Start Single event Box Style3-->
                    <div class="single-event-box-style3">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="title-holder mt-0 pt-0">
                                    <span>Bugun Xivada «Markaziy Osiyo dunyo sivilizasiyalari chorrahasida» xalqaro madaniyat forumiga start berildi</span>
                                    <h2><a href="https://khivamuseum.uz/uz/ozbekistonga-bagishlangan-fotokorgazma-yaponiyada">Forum YUNESKO bilan birgalikda prezident Shavkat Mirziyoyev tomonidan BMT Bosh assambleyasi ...</a></h2>
                                    <p>17-05-2021 - <a href="/events">So`ggi yangiliklar</a></p>
                                    <div class="button">
                                        <a class="btn-two mb-md-3" href="https://khivamuseum.uz/uz/ozbekistonga-bagishlangan-fotokorgazma-yaponiyada">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="@routes.Assets.versioned("./images/events/event13.jpg")" alt="Awesome Image">
                                        <div class="overlay-style-one bg1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="date-holder">
                                    <div class="inner">
                                        <h1>17<span>May</span></h1>
                                        <h3>Monday</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--End Single event Box Style3-->
                </div>
            </div>
        </div>
    </section>
        <!--End Events Style3 Area-->

        <!--Start subscribe Area-->
    <section class="subscribe-area style3">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="welcome-content">
                        <div class="sec-title">
                            <p>Welcome To the Museum Histories</p>
                            <div class="big-title"><h1>Sign up for Updates on<br>
                                Exhibitions, Artists and Events.</h1></div>
                        </div>
                        <div class="subscribe-box">
                            <form class="subscribe-form" action="#">
                                <input type="email" name="email" placeholder="Your Email Address">
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                        <form action="#">
                            <ul>
                                <li>
                                    <input type="checkbox" name="vehicle1" value="1">
                                    <span>Exhibitions and events</span>
                                </li>
                                <li>
                                    <input type="checkbox" name="vehicle2" value="1">
                                    <span>Limited edition prints and exclusive releases</span>
                                </li>
                                <li>
                                    <input type="checkbox" name="vehicle2" value="1">
                                    <span>Building a collection</span>
                                </li>
                            </ul>
                        </form>
                        <div class="text">
                            We will process the personal data you have supplied in accordance with our <a href="#">
                            privacy policy.</a>
                            You can unsubscribe or change your preferences at any time by clicking the link in any emails.
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="welcome-image-box" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
                        <img src="@routes.Assets.versioned("./images/resources/welcome-image.png")" alt="Awesome Image">
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!--End subscribe Area-->

        <!--Start Partner Area Style3-->
    <section class="partner-style3-area fix">
        <div class="layer-outer"></div>
        <div class="container">
            <div class="sec-title text-center">
                <p>PART OF THE MUSEUM</p>
                <div class="big-title"><h1>Our Partners & Sponsers</h1></div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="partner-box">
                            <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="@routes.Assets.versioned("images/brand/1.png")" alt="Awesome Image"></a>
                        </div>
                            <!--End Single Partner Logo Box-->
                            <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="@routes.Assets.versioned("images/brand/2.png")" alt="Awesome Image"></a>
                        </div>
                            <!--End Single Partner Logo Box-->
                            <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="@routes.Assets.versioned("images/brand/3.png")" alt="Awesome Image"></a>
                        </div>
                            <!--End Single Partner Logo Box-->
                            <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="@routes.Assets.versioned("images/brand/4.png")" alt="Awesome Image"></a>
                        </div>
                            <!--End Single Partner Logo Box-->
                            <!--Start Single Partner Logo Box-->
                        <div class="single-partner-logo-box">
                            <a href="#"><img src="@routes.Assets.versioned("images/brand/5.png")" alt="Awesome Image"></a>
                        </div>
                            <!--End Single Partner Logo Box-->
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!--End Partner Area Style3-->

}
