@(lang: String)

  @main(lang) {
    <style>
            .fact-icon {
              filter: grayscale(100%);
            }
    </style>
      <!--Main Slider-->
    <section class="main-slider style1" id="indexPage">
      <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
          <ul>
            <li data-description="Slide Description" data-easein="default" data-easeout="default"
            data-fsmasterspeed="2500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0"
            data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1=""
            data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
            data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off"
            data-slotamount="default" data-thumb="images/slides/v1-1.jpg" data-transition="fade" data-title="Slide Title" >

              <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="@routes.Assets.versioned("images/1920/1920_1.jpg")">

              <div class="tp-caption"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingtop="[0,0,0,0]"
              data-responsive_offset="on"
              data-type="text"
              data-height="none"
              data-width="['1000','900','600','400']"
              data-whitespace="normal"
              data-hoffset="['15','15','15','15']"
              data-voffset="['-105','-150','-160','-115']"
              data-x="['middle','middle','middle','middle']"
              data-y="['middle','middle','middle','middle']"
              data-textalign="['center','center','center','center']"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},
                    {"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              style="z-index: 7;
                white-space: nowrap;">
                  <!--                <div class="slide-content middle-slide">-->
                  <!--                  <div class="text">Opening on Sunday, 3 October 2021</div>-->
                  <!--                </div>-->
              </div>
              <div class="tp-caption"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingtop="[0,0,0,0]"
              data-responsive_offset="on"
              data-type="text"
              data-height="none"
              data-width="['1000','900','600','400']"
              data-whitespace="normal"
              data-hoffset="['15','15','15','15']"
              data-voffset="['10','-60','-70','-30']"
              data-x="['middle','middle','middle','middle']"
              data-y="['middle','middle','middle','middle']"
              data-textalign="['center','center','center','center']"
              data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              style="z-index: 7;
                white-space: nowrap;">
              </div>
              <div class="tp-caption"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingtop="[0,0,0,0]"
              data-responsive_offset="on"
              data-type="text"
              data-height="none"
              data-width="['1000','900','600','400']"
              data-whitespace="normal"
              data-hoffset="['15','15','15','15']"
              data-voffset="['155','60','50','80']"
              data-x="['middle','middle','middle','middle']"
              data-y="['middle','middle','middle','middle']"
              data-textalign="['center','center','center','center']"
              data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2500,"to":"o:1;","delay":3000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              style="z-index: 7;
                white-space: nowrap;">
                <div class="slide-content middle-slide">
                  <div class="btn-box">
                    <a href="#" id="bigLearnMore"></a>
                  </div>
                </div>
              </div>

            </li>

            <li data-description="Slide Description" data-easein="default" data-easeout="default"
            data-fsmasterspeed="2500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0"
            data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1=""
            data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
            data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off"
            data-slotamount="default" data-thumb="images/slides/v1-2.jpg"
            data-title="Slide Title" data-transition="fade">

              <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="@routes.Assets.versioned("images/1920/1920_2.jpg")">

              <div class="tp-caption"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingtop="[0,0,0,0]"
              data-responsive_offset="on"
              data-type="text"
              data-height="none"
              data-width="['1000','900','600','400']"
              data-whitespace="normal"
              data-hoffset="['15','15','15','15']"
              data-voffset="['-105','-150','-160','-115']"
              data-x="['middle','middle','middle','middle']"
              data-y="['middle','middle','middle','middle']"
              data-textalign="['center','center','center','center']"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},
                    {"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              style="z-index: 7;
                white-space: nowrap;">
              </div>
              <div class="tp-caption"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingtop="[0,0,0,0]"
              data-responsive_offset="on"
              data-type="text"
              data-height="none"
              data-width="['1000','900','600','400']"
              data-whitespace="normal"
              data-hoffset="['15','15','15','15']"
              data-voffset="['10','-60','-70','-30']"
              data-x="['middle','middle','middle','middle']"
              data-y="['middle','middle','middle','middle']"
              data-textalign="['center','center','center','center']"
              data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              style="z-index: 7;
                white-space: nowrap;">
              </div>
              <div class="tp-caption"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingtop="[0,0,0,0]"
              data-responsive_offset="on"
              data-type="text"
              data-height="none"
              data-width="['1000','900','600','400']"
              data-whitespace="normal"
              data-hoffset="['15','15','15','15']"
              data-voffset="['155','60','50','80']"
              data-x="['middle','middle','middle','middle']"
              data-y="['middle','middle','middle','middle']"
              data-textalign="['center','center','center','center']"
              data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2500,"to":"o:1;","delay":3000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              style="z-index: 7;
                white-space: nowrap;">
                <div class="slide-content middle-slide">
                  <div class="btn-box">
                    <a href="#" id="secondLearnMore"></a>
                  </div>
                </div>
              </div>


            </li>

            <li data-description="Slide Description" data-easein="default" data-easeout="default"
            data-fsmasterspeed="2500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0"
            data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1=""
            data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
            data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off"
            data-slotamount="default" data-thumb="images/slides/v1-3.jpg" data-title="Slide Title"
            data-transition="fade">

              <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="@routes.Assets.versioned("images/1920/1920_3.jpg")">

              <div class="tp-caption"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingtop="[0,0,0,0]"
              data-responsive_offset="on"
              data-type="text"
              data-height="none"
              data-width="['1000','900','600','400']"
              data-whitespace="normal"
              data-hoffset="['15','15','15','15']"
              data-voffset="['-105','-150','-160','-115']"
              data-x="['middle','middle','middle','middle']"
              data-y="['middle','middle','middle','middle']"
              data-textalign="['center','center','center','center']"
              data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},
                    {"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              style="z-index: 7;
                white-space: nowrap;">
              </div>
              <div class="tp-caption"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingtop="[0,0,0,0]"
              data-responsive_offset="on"
              data-type="text"
              data-height="none"
              data-width="['1000','900','600','400']"
              data-whitespace="normal"
              data-hoffset="['15','15','15','15']"
              data-voffset="['10','-60','-70','-30']"
              data-x="['middle','middle','middle','middle']"
              data-y="['middle','middle','middle','middle']"
              data-textalign="['center','center','center','center']"
              data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              style="z-index: 7;
                white-space: nowrap;">
              </div>
              <div class="tp-caption"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingtop="[0,0,0,0]"
              data-responsive_offset="on"
              data-type="text"
              data-height="none"
              data-width="['1000','900','600','400']"
              data-whitespace="normal"
              data-hoffset="['15','15','15','15']"
              data-voffset="['155','60','50','80']"
              data-x="['middle','middle','middle','middle']"
              data-y="['middle','middle','middle','middle']"
              data-textalign="['center','center','center','center']"
              data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2500,"to":"o:1;","delay":3000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
              style="z-index: 7;
                white-space: nowrap;">
                <div class="slide-content middle-slide">
                  <div class="btn-box">
                    <a href="#" id="thirdLearnMore"></a>
                  </div>
                </div>
              </div>


            </li>

          </ul>
        </div>
      </div>


      <a href="#scc" class="scrollDownArrow" style="width: 2em;
        height: 2em;
        background-color: transparent;
        z-index: 80;
        bottom: 25px;
        position: absolute;
        border-width: 0 0.25em 0.25em 0;
        border-style: solid;
        border-color: antiquewhite;
        animation: scrolldown 1.2s ease-in-out infinite 0.15s;"></a>
      <a href="#scc" class="scrollDownArrow" style="width: 2em;
        height: 2em;
        background-color: transparent;
        z-index: 80;
        bottom: 40px;
        position: absolute;
        border-width: 0 0.25em 0.25em 0;
        border-style: solid;
        border-color: antiquewhite;
        animation: scrolldown 1.2s ease-in-out infinite;"></a>

    </section>
      <!--End Main Slider-->

      <!--Start Intro Area-->
    <section class="intro-area">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="intro-box">

              <div class="inner-content">
                <h3 id="smallIntro"></h3>
                <p id="smallIntroText"></p>
                <a class="btn-one" href="#" id="moreExplore"></a>
              </div>

              <div class="plan-your-visit">
                  <!-- <h2 id="planYourVisit"> <a href="#"><i class="fa fa-long-arrow-rightf" aria-hidden="true"></i></a></h2>
                            <ul>
                                <li>
                                    <div class="icon-holder">
                                        <span class="flaticon-clock"></span>
                                    </div>
                                    <div class="title-holder">
                                        <h3 id="hours"></h3>
                                        <p id="hour"></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-holder">
                                        <span class="flaticon-placeholder"></span>
                                    </div>
                                    <div class="title-holder">
                                        <h3 id="location"></h3>
                                    </div>
                                </li>
                            </ul>-->
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
      <!--End Intro Area-->
      <!--Start Exhibitions Area-->
    <section class="exhibitions-area" id="scc">
      <div class="container">
          <!--<div class="sec-title">
                <p id="currentExAndDisplay"></p>
                <div class="big-title"><h1 id="whatIsOnAtTheHistorical"></h1></div>
            </div>-->
        <div class="row masonary-layout">
            <!--Start single exhibition Box-->
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp">
            <div class="single-exhibition-box">
              <div class="img-holder">
                <img src="@routes.Assets.versioned("images/370/_1.jpg")" alt="Awesome Image">
                <div class="overlay-style-one bg1">
                  <div class="zoom-button">
                    <a class="lightbox-image" data-fancybox="gallery" href="@routes.Assets.versioned("images/original/370_1_original.jpg")">
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="text-holder text-center">
                <span id="exhibition"></span>
                <h2><a href="#" id="aboutExhibition"></a></h2>
                @* <p id="dateOfExhibition"></p>*@
                <div class="button">
                  <div class="inner">
                    <a class="btn-one" href="#" id="learnMore4"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End single exhibition Box-->
            <!--Start single exhibition Box-->
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
            <div class="single-exhibition-box">
              <div class="img-holder">
                <img src="@routes.Assets.versioned("images/370/_2.jpg")" alt="Awesome Image">
                <div class="overlay-style-one bg1">
                  <div class="zoom-button">
                    <a class="lightbox-image" data-fancybox="gallery" href="images/original/370_2_original.jpg" )>
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="text-holder text-center">
                <span id="display"></span>
                <h2><a href="#" id="displayText"></a></h2>
                @* <p id="dateOfDisplay"></p>*@
                <div class="button">
                  <div class="inner">
                    <a class="btn-one" href="#" id="learnMore5"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End single exhibition Box-->
            <!--Start single exhibition Box-->
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
            <div class="single-exhibition-box">
              <div class="img-holder">
                <img src="@routes.Assets.versioned("images/370/_3.jpg")" alt="Awesome Image">
                <div class="overlay-style-one bg1">
                  <div class="zoom-button">
                    <a class="lightbox-image" data-fancybox="gallery" href="@routes.Assets.versioned("images/original/370_3_original.jpg")">
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="text-holder text-center">
                <span id="exhibition2"></span>
                <h2><a href="#" id="aboutExhibition2"></a></h2>
                @* <p id="dateOfExhibition2"></p>*@
                <div class="button">
                  <div class="inner">
                    <a class="btn-one" href="#" id="learnMore6"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End single exhibition Box-->

            <!--Start single exhibition Box-->
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
            <div class="single-exhibition-box">
              <div class="img-holder">
                <img src="@routes.Assets.versioned("images/370/_5.jpg")" alt="Awesome Image">
                <div class="overlay-style-one bg1">
                  <div class="zoom-button">
                    <a class="lightbox-image" data-fancybox="gallery" href="@routes.Assets.versioned("images/original/370_4_original.jpg")">
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="text-holder text-center">
                <span id="exhibition3"></span>
                <h2><a href="#" id="aboutExhibition3"></a></h2>
                @* <p id="dateOfExhibition3"></p>*@
                <div class="button">
                  <div class="inner">
                    <a class="btn-one" href="#" id="learnMore7"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End single exhibition Box-->
            <!--Start single exhibition Box-->
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
            <div class="single-exhibition-box">
              <div class="img-holder">
                <img src="@routes.Assets.versioned("images/370/_4.jpg")" alt="Awesome Image">
                <div class="overlay-style-one bg1">
                  <div class="zoom-button">
                    <a class="lightbox-image" data-fancybox="gallery" href="@routes.Assets.versioned("images/original/370_5_original.jpg")">
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="text-holder text-center">
                <span id="gallery"></span>
                <h2><a href="#" id="aboutGallery"></a></h2>
                @* <p id="dateOfGallery"></p>*@
                <div class="button">
                  <div class="inner">
                    <a class="btn-one" href="#" id="learnMore8"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End single exhibition Box-->
            <!--Start single exhibition Box-->
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
            <div class="single-exhibition-box">
              <div class="img-holder">
                <img src="@routes.Assets.versioned("images/370/_6.jpg")" alt="Awesome Image">
                <div class="overlay-style-one bg1">
                  <div class="zoom-button">
                    <a class="lightbox-image" data-fancybox="gallery" href="@routes.Assets.versioned("images/original/370_6_original.jpg")">
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="text-holder text-center">
                <span id="display2"></span>
                <h2><a href="#" id="displayText2"></a></h2>
                @* <p id="dateOfDisplay2"></p>*@
                <div class="button">
                  <div class="inner">
                    <a class="btn-one" href="#" id="learnMore9"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--End single exhibition Box-->
        </div>
      </div>
    </section>
      <!--End Exhibitions Area-->
      <!--Start Events Area-->
    <section class="events-area">
      <div class="container">
        <div class="sec-title">
          <p id="dontMiss"></p>
          <div class="big-title"><h1 id="upcomingEvents"></h1></div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="event-carousel owl-carousel owl-theme owl-dot-style1">
                <!--Start Single event Box-->
              <div class="single-event-box">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("images/570/_1.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg2"></div>
                  </div>
                  <div class="date-box">
                    <div class="left">30</div>
                    <div class="right">
                      <h6 id="month"></h6>
                      <h3 id="weekday"></h3>
                    </div>
                  </div>
                </div>
                <div class="title-holder">
                  <div class="inner">
                    <h3><a href="#" id="eventLink1">
                    </a><i class="fa fa-angle-double-right" aria-hidden="true"></i></h3>
                  </div>
                  @*<div class="bottom">
                    <div class="text" id="eventDate"></div>
                    <div class="button">
                      <a href="#" id="findMore"></a>
                    </div>
                  </div>*@
                </div>
              </div>
                <!--End Single event Box-->
                <!--Start Single event Box-->
              <div class="single-event-box">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("images/570/_2.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg2"></div>
                  </div>
                  <div class="date-box">
                    <div class="left">31</div>
                    <div class="right">
                      <h6 id="month2"></h6>
                      <h3 id="weekday2"></h3>
                    </div>
                  </div>
                </div>
                <div class="title-holder">
                  <div class="inner">
                    <span id="eventName2"></span>
                    <h3><a href="#" id="eventLink2">
                    </a><i class="fa fa-angle-double-right" aria-hidden="true"></i></h3>
                  </div>
                  @*<div class="bottom">
                    <div class="text" id="eventDate2"></div>
                    <div class="button">
                      <a href="#" id="findMore2"></a>
                    </div>
                  </div>*@
                </div>
              </div>
                <!--End Single event Box-->

                <!--Start Single event Box-->
              <div class="single-event-box">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("images/570/_3.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg2"></div>
                  </div>
                  <div class="date-box">
                    <div class="left">30</div>
                    <div class="right">
                      <h6 id="month3"></h6>
                      <h3 id="weekday3"></h3>
                    </div>
                  </div>
                </div>
                <div class="title-holder">
                  <div class="inner">
                    <span id="eventName3"></span>
                    <h3><a href="#" id="eventLink3"></a><i class="fa fa-angle-double-right" aria-hidden="true"></i></h3>
                  </div>
                  @*<div class="bottom">
                    <div class="text" id="eventDate3"></div>
                    <div class="button">
                      <a href="#" id="findMore3"></a>
                    </div>
                  </div>*@
                </div>
              </div>
                <!--End Single event Box-->
                <!--Start Single event Box-->
              <div class="single-event-box">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("images/570/_4.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg2"></div>
                  </div>
                  <div class="date-box">
                    <div class="left">31</div>
                    <div class="right">
                      <h6 id="month4"></h6>
                      <h3 id="weekday4"></h3>
                    </div>
                  </div>
                </div>
                <div class="title-holder">
                  <div class="inner">
                    <span id="eventName4"></span>
                    <h3><a href="#" id="eventLink4"></a><i class="fa fa-angle-double-right" aria-hidden="true"></i></h3>
                  </div>
                  @*<div class="bottom">
                    <div class="text" id="eventDate4"></div>
                    <div class="button">
                      <a href="#" id="findMore4"></a>
                    </div>
                  </div>*@
                </div>
              </div>
                <!--End Single event Box-->

                <!--Start Single event Box-->
              <div class="single-event-box">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("images/570/_5.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg2"></div>
                  </div>
                  <div class="date-box">
                    <div class="left">30</div>
                    <div class="right">
                      <h6 id="month5"></h6>
                      <h3 id="weekday5"></h3>
                    </div>
                  </div>
                </div>
                <div class="title-holder">
                  <div class="inner">
                    <span id="eventName5"></span>
                    <h3><a href="#" id="eventLink5"></a><i class="fa fa-angle-double-right" aria-hidden="true"></i></h3>
                  </div>
                  @*<div class="bottom">
                    <div class="text" id="eventDate5"></div>
                    <div class="button">
                      <a href="#" id="findMore5"></a>
                    </div>
                  </div>*@
                </div>
              </div>
                <!--End Single event Box-->
                <!--Start Single event Box-->
              <div class="single-event-box">
                <div class="img-holder">
                  <div class="inner">
                    <img src="@routes.Assets.versioned("images/570/_6.jpg")" alt="Awesome Image">
                    <div class="overlay-style-one bg2"></div>
                  </div>
                  <div class="date-box">
                    <div class="left">31</div>
                    <div class="right">
                      <h6 id="month6"></h6>
                      <h3 id="weekday6"></h3>
                    </div>
                  </div>
                </div>
                <div class="title-holder">
                  <div class="inner">
                    <span id="eventName6"></span>
                    <h3><a href="#" id="eventLink6"></a><i class="fa fa-angle-double-right" aria-hidden="true"></i></h3>
                  </div>
                  @*<div class="bottom">
                    <div class="text" id="eventDate6"></div>
                    <div class="button">
                      <a href="#" id="findMore6"></a>
                    </div>
                  </div>*@
                </div>
              </div>
                <!--End Single event Box-->

            </div>
          </div>
        </div>

      </div>
    </section>
      <!--End Events Area-->
      <!--Start Fact Counter Area-->
    <section class="fact-counter-area">
      <div class="container">
        <div class="sec-title text-center">
@*          <p id="numericalCounter"></p>*@
@*          <div class="big-title"><h1 id="wePerfection" class="w-50 mx-auto"></h1></div>*@
        </div>
        <div class="row">
            <!--Start Single Fact Counter-->
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="single-fact-counter text-center wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
              <div class="icon">
                <img class="fact-icon" src="@routes.Assets.versioned("images/icon/archaeology.png")" alt="Icon">
              </div>
              <div class="count-box">
                <h1>
                  <span class="timer" data-from="1" data-to="37" data-speed="5000" data-refresh-interval="50">
                    37</span>
                </h1>
              </div>
              <div class="title">
                <h3 id="overOrganized"></h3>
              </div>
            </div>
          </div>
            <!--End Single Fact Counter-->
            <!--Start Single Fact Counter-->
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="single-fact-counter text-center wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
              <div class="icon">
                <img class="fact-icon" src="@routes.Assets.versioned("images/icon/antique-building.png")" alt="Icon">
              </div>
              <div class="count-box">
                <h1>
                  <span class="timer" data-from="1" data-to="134" data-speed="5000" data-refresh-interval="50">
                    134</span>
                </h1>
              </div>
              <div class="title">
                <h3 id="uniqueObjects"></h3>
              </div>
            </div>
          </div>
            <!--End Single Fact Counter-->
            <!--Start Single Fact Counter-->
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="single-fact-counter text-center wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
              <div class="icon">
                <img class="fact-icon" src="@routes.Assets.versioned("images/icon/novel.png")" alt="Icon">
              </div>
              <div class="count-box">
                <h1>
                  <span class="timer" data-from="1" data-to="79" data-speed="5000" data-refresh-interval="50">
                    79</span>
                </h1>
              </div>
              <div class="title">
                <h3 id="multimediaExhibitions"></h3>
              </div>
            </div>
          </div>
            <!--End Single Fact Counter-->
            <!--Start Single Fact Counter-->
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="single-fact-counter text-center wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
              <div class="icon">
                <img class="fact-icon" src="@routes.Assets.versioned("images/icon/museum.png")" alt="Icon">
              </div>
              <div class="count-box">
                <h1>
                  <span class="timer" data-from="1" data-to="26" data-speed="5000" data-refresh-interval="50">
                    26</span>
                </h1>
              </div>
              <div class="title">
                <h3 id="ourTicketsSold"></h3>
              </div>
            </div>
          </div>
            <!--End Single Fact Counter-->
        </div>
      </div>
    </section>
      <!--End Fact Counter Area-->
      <!--Start Partner Area Style2-->
    <section class="partner-style2-area">
      <div class="container">
        <div class="sec-title clr-white text-center">
          <div class="big-title"><h1 id="sponsors-title"></h1></div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="partner-box">
                <!--Start Single Partner Logo Box-->
              <div class="single-partner-logo-box">
                <a href="http://dsr.nii.ac.jp/khiva/" target="_blank"><img class="w-100" src="@routes.Assets.versioned("/images/1.jpg")" alt="Awesome Image"></a>
                <h4 class="text-center text-white mt-2">dsr.nii.ac.jp</h4>
              </div>
                <!--End Single Partner Logo Box-->
                <!--Start Single Partner Logo Box-->
              <div class="single-partner-logo-box">
                <a href="https://khivamuseum.uz/" target="_blank"><img class="w-100" src="@routes.Assets.versioned("/images/2.jpg")" alt="Awesome Image"></a>
                <h4 class="text-center text-white mt-2">khivamuseum.uz</h4>
              </div>
                <!--End Single Partner Logo Box-->
                <!--Start Single Partner Logo Box-->
              <div class="single-partner-logo-box">
                <a href="https://khiva360.nazzar.uz/" target="_blank"><img class="w-100" src="@routes.Assets.versioned("/images/3.jpg")" alt="Awesome Image"></a>
                <h4 class="text-center text-white mt-2">khiva360.nazzar.uz</h4>
              </div>
                <!--End Single Partner Logo Box-->
                <!--Start Single Partner Logo Box-->
              <div class="single-partner-logo-box">
                <a href="http://xorazmiy.uz/uz/khorezm" target="_blank"><img class="w-100" src="@routes.Assets.versioned("/images/4.jpg")" alt="Awesome Image"></a>
                <h4 class="text-center text-white mt-2">xorazmiy.uz</h4>
              </div>
                <!--End Single Partner Logo Box-->
            </div>
          </div>
        </div>
      </div>
    </section>
      <!--End Partner Area Style2-->
      <!--Start subscribe Area-->
    <section class="subscribe-area">
      <div class="container">
        <div class="row">
          <div class="col-xl-6">
            <div class="subscribe-title">
              <h1 id="newsLetter"></h1>
              <span id="newsLetterInfo"></span>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="subscribe-box">
              <form class="subscribe-form" action="#">
                <input type="email" name="email" placeholder="Email">
                <button type="submit" id="subscribe"></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
      <!--End subscribe Area-->


  }
