@()

@main() {

    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" id="eventsPage" style="background-image: url(@routes.Assets.versioned("./images/1920/1920_2.jpg"));">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title">
                            <h1 id="news-header"></h1>
                        </div>
                        <div class="breadcrumb-menu">
                            <ul class="clearfix">
                            <li><a href="/" id="sub-menu-home"></a></li>
                                <li class="active" id="sub-menu-news"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--Start Partner Area-->
<section class="partner-area">
    <div class="container">
        <div class="sec-title text-center">
            <p>Interaktive servis #1</p>
            <div class="big-title"><h1>Xorazm xaritasini yillar kesimida ko'rsatish</h1></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testimonial-style1-box" style="background-image:url(images/parallax-background/testimonial-style1-box-bg.jpg);">
                    <div class="top">
                        <div class="title">
                            <h1>Xorazm hududi<br> Qanday o'zgargan?</h1>
                        </div>
                    </div>
                    <div class="botton">
                        <div class="testimonial-carousel owl-carousel owl-theme owl-nav-style-one">
                            <!--Start Single testimonial Style1-->
                            <div class="single-testimonial-style1">
                                <div class="text">We provide programs for young people that build motivation, so I decided to arrange a party for them Everything went smoothly, and all the kids were very much excited!</div>
                                <div class="client-info">
                                    <div class="image-box">
                                        <img src="images/testimonial/tes-v1-1.png" alt="Awesome Image">
                                    </div>
                                    <div class="title-box">
                                        <h3>Mark Anderson</h3>
                                        <span>author-name second_font</span>
                                    </div>
                                </div>
                            </div>
                            <!--End Single testimonial Style1-->
                            <!--Start Single testimonial Style1-->
                            <div class="single-testimonial-style1">
                                <div class="text">We provide programs for young people that build motivation, so I decided to arrange a party for them Everything went smoothly, and all the kids were very much excited!</div>
                                <div class="client-info">
                                    <div class="image-box">
                                        <img src="images/testimonial/tes-v1-1.png" alt="Awesome Image">
                                    </div>
                                    <div class="title-box">
                                        <h3>Mark Anderson</h3>
                                        <span>author-name second_font</span>
                                    </div>
                                </div>
                            </div>
                            <!--End Single testimonial Style1-->

                        </div>
                        <br>
                        <!--Start single-sidebar-->
                        <div class="single-sidebar last-child">
                            <ul class="popular-tag">
                                <li ><a class="active" href="#">Ilk Temir Davr</a></li>
                                <li><a href="#">Ahavoniylar Davri</a></li>
                                <li><a href="#">Miloddan avalgi 4-2 asr</a></li>
                                <li><a href="#">Afrig'iylar davri 3-6 asr</a></li>
                            </ul>
                        </div>
                        <!--End single-sidebar-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--End Partner Area-->

}
