@(lang: String)

@main(lang) {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/style.css")">
        <!--Start breadcrumb area-->
    <section class="breadcrumb-area" id="interactivePage" style="background-image: url(@routes.Assets.versioned("./images/1920/1920_2.jpg"));">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title">
                            <h1 id="interactive-header"></h1>
                        </div>
                        <div class="breadcrumb-menu">
                            <ul class="clearfix">
                                <li><a href="/" id="sub-menu-for-interactive-home"></a></li>
                                <li class="active" id="sub-menu-for-interactive"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#scc" class="scrollDownArrow" style="width: 2em;
            height: 2em;
            background-color: transparent;
            z-index: 80;
            bottom: 25px;
            position: absolute;
            border-width: 0 0.25em 0.25em 0;
            border-style: solid;
            border-color: antiquewhite;
            animation: scrolldown 1.2s ease-in-out infinite 0.15s;"></a>
        <a href="#scc" class="scrollDownArrow" style="width: 2em;
            height: 2em;
            background-color: transparent;
            z-index: 80;
            bottom: 40px;
            position: absolute;
            border-width: 0 0.25em 0.25em 0;
            border-style: solid;
            border-color: antiquewhite;
            animation: scrolldown 1.2s ease-in-out infinite;"></a>
    </section>
        <!--Start Partner Area-->
    <section class="partner-area" id="scc">
        <div class="container">
            <div class="sec-title text-center">
                <div class="big-title"><h1 id="interactive-title"></h1></div>
            </div>
            <div class="container-fluid m-0 p-0">
                <div class="demo-cont">
                        <!-- slider start -->
                    <div class="fnc-slider example-slider">
                        <div class="fnc-slider__slides">
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-green m--active-slide">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-1"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-dark">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-2"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-red">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-3"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-4"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-5"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-6"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-7"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-8"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-9"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-10"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-11"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-12"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-13"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-14"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-15"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-16"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-17"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-18"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                                @* <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                <h2 class="fnc-slide__heading">
                                <div class="fnc-slide__heading-line">
                                <span id="map-title-19"></span>
                                </div>
                                </h2>
                                <button type="button" class="fnc-slide__action-btn">

                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="more-info-map-btn"></span>
                                </button>
                                </div>
                                </div>
                                </div>*@
                                <!-- slide end -->
                                <!-- slide start -->
                                @*<div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                <h2 class="fnc-slide__heading">
                                <div class="fnc-slide__heading-line">
                                <span id="map-title-20"></span>
                                </div>
                                </h2>
                                <button type="button" class="fnc-slide__action-btn">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="more-info-map-btn"></span>
                                </button>
                                </div>
                                </div>
                                </div>*@
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-21"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                                <!-- slide start -->
                            <div class="fnc-slide m--blend-blue">
                                <div class="fnc-slide__inner">
                                    <div class="fnc-slide__mask">
                                        <div class="fnc-slide__mask-inner"></div>
                                    </div>
                                    <div class="fnc-slide__content">
                                        <h2 class="fnc-slide__heading">
                                            <div class="fnc-slide__heading-line">
                                                <span id="map-title-22"></span>
                                            </div>
                                        </h2>
                                        <button type="button" class="fnc-slide__action-btn">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="more-info-map-btn" id="more-info-map-btn"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                                <!-- slide end -->
                        </div>
                        <nav class="fnc-nav">
                            <div class="fnc-nav__bgs">
                                <div class="fnc-nav__bg m--active-nav-bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                                @*<div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>*@
                                <div class="fnc-nav__bg"></div>
                                <div class="fnc-nav__bg"></div>
                            </div>
                            <div class="fnc-nav__controls">
                                <button class="fnc-nav__control" id="temir-one">
                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="olti-two">
                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="tort-three">
                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="ikki-four">
                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="uch-five">
                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="yetti-six">
                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="sakkiz-seven">
                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="on-eight">
                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="yillar-1">

                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="yillar-2">

                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="yillar-3">

                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="yillar-4">

                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="yillar-5">

                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="yillar-6">

                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="asr-1">
                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="asr-2">
                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="xiva-xon-1">
                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="yillar-7">

                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                @*<button class="fnc-nav__control" id="xiva-xon-2">
                                <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="xiva-xon-3">
                                <span class="fnc-nav__control-progress"></span>
                                </button>*@
                                <button class="fnc-nav__control" id="yillar-8">

                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                                <button class="fnc-nav__control" id="xorazm">
                                    <span class="fnc-nav__control-progress"></span>
                                </button>
                            </div>
                        </nav>
                    </div>
                        <!-- slider end -->
                    <div class="demo-cont__credits">
                        <div class="demo-cont__credits-close"></div>
                        <p class="text-justify maps-info" id="map-info"></p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <hr>
            <hr>
            <br>
            <br>
            <div class="row">
                <div class="col-xl-8">
                    <div class="events-single-text-box">
                        <h2 id="interactive-ml-title" class="text-center"></h2>
                        <p id="interactive-ml-info" class="text-justify"></p>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="events-single-info-box p-2">
                        <img src="@routes.Assets.versioned("./images/blog/diagramm.png")" alt="Diagram">
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!--Start Art Area-->
    <section class="art-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="top">
                        <div class="sec-title">
                            <p id="exploreArt"></p>
                            <div class="big-title"><h1 id="ourCollection"></h1></div>
                        </div>
                        <div class="view-more-button">
                            <a class="btn-one" href="#" id="viewMore"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container art-container">
            <div class="row masonary-layout">
                    <!--Start Single Art Box-->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="single-art-box">
                        <div class="img-holder">
                            <img src="@routes.Assets.versioned("images/350/_1.jpg")" alt="Awesome Image">
                            <div class="overlay-content">
                                <div class="title pr-5">
                                    <h3><a href="/ichan-qala" id="modernArt1"></a></h3>
                                </div>
                                <div class="readmore-button">

                                    <a href="/ichan-qala" class="show-modal" id="readMore"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--End Single Art Box-->
                    <!--Start Single Art Box-->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="single-art-box">
                        <div class="img-holder">
                            <img src="@routes.Assets.versioned("images/350/_3.jpg")" alt="Awesome Image">
                            <div class="overlay-content">
                                <div class="title pr-5">
                                    <h3><a href="/department" id="modernArt3"></a></h3>
                                </div>
                                <div class="readmore-button">
                                    <a href="/department" id="readMore2"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--End Single Art Box-->
                    <!--Start Single Art Box-->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="single-art-box">
                        <div class="img-holder">
                            <img src="@routes.Assets.versioned("images/350/_2.jpg")" alt="Awesome Image">
                            <div class="overlay-content">
                                <div class="title pr-5">
                                    <h3><a href="/amaliy" id="modernArt2"></a></h3>
                                </div>
                                <div class="readmore-button">
                                    <a href="/amaliy" id="readMore3"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--End Single Art Box-->

                    <!--Start Single Art Box-->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="single-art-box">
                        <div class="img-holder">
                            <img src="@routes.Assets.versioned("images/350/_4.jpg")" alt="Awesome Image">
                            <div class="overlay-content">
                                <div class="title pr-5">
                                    <h3><a href="/devonov" id="modernArt4"></a></h3>
                                </div>
                                <div class="readmore-button">
                                    <a href="/devonov" id="readMore4"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--End Single Art Box-->
                    <!--Start Single Art Box-->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="single-art-box">
                        <div class="img-holder">
                            <img src="@routes.Assets.versioned("images/350/_5.jpg")" alt="Awesome Image">
                            <div class="overlay-content">
                                <div class="title pr-5">
                                    <h3><a href="/qatagon" id="modernArt5"></a></h3>
                                </div>
                                <div class="readmore-button">
                                    <a href="/qatagon" id="readMore5"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--End Single Art Box-->
                    <!--Start Single Art Box-->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="single-art-box">
                        <div class="img-holder">
                            <img src="@routes.Assets.versioned("images/350/_6.jpg")" alt="Awesome Image">
                            <div class="overlay-content">
                                <div class="title pr-5">
                                    <h3><a href="/dorul" id="modernArt6"></a></h3>
                                </div>
                                <div class="readmore-button">
                                    <a href="/dorul" id="readMore6"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--End Single Art Box-->

                    <!--Start Single Art Box-->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="single-art-box">
                        <div class="img-holder">
                            <img src="@routes.Assets.versioned("images/350/_7.jpg")" alt="Awesome Image">
                            <div class="overlay-content">
                                <div class="title pr-5">
                                    <h3><a href="/tasviriy" id="modernArt7"></a></h3>
                                </div>
                                <div class="readmore-button">
                                    <a href="/tasviriy" id="readMore7"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--End Single Art Box-->
                    <!--Start Single Art Box-->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="single-art-box">
                        <div class="img-holder">
                            <img src="@routes.Assets.versioned("images/350/_8.jpg")" alt="Awesome Image">
                            <div class="overlay-content">
                                <div class="title pr-5">
                                    <h3><a href="/nurullaboy" id="modernArt8"></a></h3>
                                </div>
                                <div class="readmore-button">
                                    <a href="/nurullaboy" id="readMore8"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--End Single Art Box-->
                    <!--Start Single Art Box-->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="single-art-box">
                        <div class="img-holder">
                            <img src="@routes.Assets.versioned("images/350/_9.jpg")" alt="Awesome Image">
                            <div class="overlay-content">
                                <div class="title pr-5">
                                    <h3><a href="/khorezm" id="modernArt9"></a></h3>
                                </div>
                                <div class="readmore-button">
                                    <a href="/khorezm" id="readMore9"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--End Single Art Box-->
                    <!--Start Single Art Box-->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="single-art-box">
                        <div class="img-holder">
                            <img src="@routes.Assets.versioned("images/350/_10.jpg")" alt="Awesome Image">
                            <div class="overlay-content">
                                <div class="title pr-5">
                                    <h3><a href="/music" id="modernArt10"></a></h3>
                                </div>
                                <div class="readmore-button">
                                    <a href="/music" id="readMore10"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--End Single Art Box-->
            </div>
          <hr>
          <h1 class="text-center text-white">Tarixiy obidarlning 3D modellari</h1>
            <br>
          <!--<div class="sketchfab-embed-wrapper">
            <iframe title="Registan" frameborder="0" allowfullscreen mozallowfullscreen="true"
                    webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking
                    execution-while-out-of-viewport execution-while-not-rendered web-share width="100%" height="480"
                    src="https://sketchfab.com/models/c4431cd2c2f44635bb1789d5f22c7a48/embed?autospin=1&autostart=1"></iframe>
          </div>
          <div class="sketchfab-embed-wrapper">
            <iframe title="28-arc-de-triomphe" frameborder="0" allowfullscreen mozallowfullscreen="true"
                    webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking
                    execution-while-out-of-viewport execution-while-not-rendered web-share width="100%" height="480"
                    src="https://sketchfab.com/models/76fb9c28d35742c592389fcf1ce2f441/embed?autospin=0&autostart=1&ui_hint=0&ui_theme=dark"></iframe>
          </div>
          <div class="sketchfab-embed-wrapper">
            <iframe  frameborder="0" allowfullscreen mozallowfullscreen="true"
                    webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking
                    execution-while-out-of-viewport execution-while-not-rendered web-share width="100%" height="400"
                    src="https://sketchfab.com/models/e0955644ebf34d3988f6cf653672c6ad/embed?autostart=1&ui_infos=0&ui_watermark_link=0&ui_watermark=0&ui_hint=0&ui_help=0"></iframe>
          </div>-->
            <div class="sketchfab-embed-wrapper">
                <iframe title="Garem" frameborder="0" allowfullscreen mozallowfullscreen="true"
                        webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking"
                        xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share
                        width="100%" height="480"
                        src="https://sketchfab.com/models/65588ff9cd0040dcafe8f4f7520675ad/embed?autospin=1&autostart=1"></iframe>
            </div>
        </div>
    </section>
        <!--End Art Area-->
    <script src="@routes.Assets.versioned("javascripts/index.js")"></script>
}
