@()

@main() {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/style.css")">
    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" id="interactivePage" style="background-image: url(@routes.Assets.versioned("./images/1920/1920_2.jpg"));">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title">
                            <h1 id="interactive-header"></h1>
                        </div>
                        <div class="breadcrumb-menu">
                            <ul class="clearfix">
                            <li><a href="/" id="sub-menu-for-interactive-home"></a></li>
                                <li class="active" id="sub-menu-for-interactive"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--Start Partner Area-->
<section class="partner-area">
    <div class="container">
        <div class="sec-title text-center">
            <div class="big-title"><h1>Xorazm xaritasini yillar kesimida ko'rsatish</h1></div>
        </div>
        <div class="container-fluid m-0 p-0">
            <div class="demo-cont">
                <!-- slider start -->
                <div class="fnc-slider example-slider">
                    <div class="fnc-slider__slides">
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-green m--active-slide">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Ilk Temir <br>davri Osiyo</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-dark">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Xorazm Ahamoniylar <br> davri VI - IV asr</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-red">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Xorazm miloddan <br>avvalgi 4-2 asr</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Xorazm mil 2-<br> mil 2 asr</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Afrig`iylar davri<br> III - VI asr</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Afrig`iylar davri<br> VI - VII asr</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Xorazm <br> VIII - IX asr</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>X asr<br> Ma'muniylar</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Anushtegin Xorazmshoh<br> 1097-1231 yillar</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Xorazmshoh Qutbiddin Muhammad<br> 1097-1127 yillar</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Ostir<br> 1127-1156 yillar</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>El Arslon<br> 1156-1172 yillar</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Alouddin Takash<br> 1172-1200 yillar</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Alouddin Muhammad<br> 1200-1220 yillar</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Arabshohiy<br> XVI - XVII asr</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Xiva xonligi<br> XVIII asr oxiri</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Xiva xonligi</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Xiva xonligi<br>1873-1920 yillar</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Xiva xonligi</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Xiva xonligi</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>XXSR 1920-1924 yillar</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                        <!-- slide start -->
                        <div class="fnc-slide m--blend-blue">
                            <div class="fnc-slide__inner">
                                <div class="fnc-slide__mask">
                                    <div class="fnc-slide__mask-inner"></div>
                                </div>
                                <div class="fnc-slide__content">
                                    <h2 class="fnc-slide__heading">
                                        <div class="fnc-slide__heading-line">
                                            <span>Xorazm viloyati</span>
                                        </div>
                                    </h2>
                                    <button type="button" class="fnc-slide__action-btn">
                                        Ko'proq o'qish
                                        <span data-text="Ko'proq o'qish">Ko'proq o'qish</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- slide end -->
                    </div>
                    <nav class="fnc-nav">
                        <div class="fnc-nav__bgs">
                            <div class="fnc-nav__bg m--active-nav-bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                            <div class="fnc-nav__bg"></div>
                        </div>
                        <div class="fnc-nav__controls">
                            <button class="fnc-nav__control">
                                Temir davri
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                VI-IV asr
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                Mil.av. 4-2 asr
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                mil 2 asr
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                III - VI asr
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                VI - VII asr
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                VIII - IX asr
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                X asr
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                1097 - 1231 yil
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                1097 - 1127 yil
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                1127 - 1156 yil
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                1156 - 1172 yil
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                1172 - 1200 yil
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                1200 - 1220 yil
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                XVI-XVII asr
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                XVIII asr oxiri
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                Xiva xonligi
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                1873 - 1920 yil
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                Xiva xonligi
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                Xiva xonligi
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                1920 - 1924 yil
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                            <button class="fnc-nav__control">
                                Xorazm viloyati
                                <span class="fnc-nav__control-progress"></span>
                            </button>
                        </div>
                    </nav>
                </div>
                <!-- slider end -->
                <div class="demo-cont__credits">
                    <div class="demo-cont__credits-close"></div>
@*                    <h2 class="demo-cont__credits-heading mt-3 text-white">Ma'lumot</h2>*@
                    <p class="text-justify maps-info">Xorazm 2700 yillik davlatchilk tarixiga ega qadimiy sivilizatsiya o`chog`i bo`lib, hududi
                        turli davrlarda ko`p marta o`zgargan. Mazkur xaritada miloddan avvalgi VII asrdan hozirgi
                        kungacha bo`lgan davrda Xorazm davlatlari chegaralari ko`rsatilgan.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <hr>
        <br>
        <br>
        <div class="row">
            <div class="col-xl-8">
                <div class="events-single-text-box">
                    <h2>Rasmlarni tanib olish va joylashuvini ko'rsatish xizmati</h2>
                    <p>Bu servis Xorazmdagi binolar, tarixiy obidalar, dam olish maskanlar rasmlarini o'z ichiga
                        oladi. Ya'ni xar bir foydalanuvchi rasm yuklashi mumkin bo'ladi, faqat xaqiqiy rasmlarni
                        joylashuvi bilan (ya'ni rasm olinganda "location" birga olinga bo'lishi kerak). Bu rasmlar
                        ma'lumotlar omborida qayta tahlil qilinadi va keyinchalik "Yo'nalish berish uchun kerakli
                        bir servisga aylanadi". Masalan Jaloladdin Manguberdi bobomizni rasmini yuklansa,
                        Jaloliddin Manguberdi xaqida qanday tarixiy obidalar bo'lsa xammasini xaritada ko'rsatadi
                        (Google map, Yandex map). Va bemalol shu obidalarni borib ko'rish, qayerda joylashgani va
                        qiziqarli ma'lumotlarga ega bo'lish imkonini yaratadi.Nima uchun faqat nomi bilan emas,
                        balki rasmi bilan topadigan qilmoqchimiz. Chunki biron joyga borishni istagan odam, oldin
                        uni rasmini ko'radi keyin borishni istaydi, va rasmlarni saqlab qo'yadi. Endi bu tizim
                        orqali turislarni ko'proq jalp qilishga, Xorazm tarixini yanada qiziqarli qilib o'rgatishga
                        erishiladi</p>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="events-single-info-box p-2">
                    <img src="@routes.Assets.versioned("./images/blog/diagramm.png")" alt="Diagram">
                </div>
            </div>
        </div>
    </div>
</section>
    <script src="@routes.Assets.versioned("javascripts/index.js")"></script>
}
