@(lang: String)

@main(lang) {

    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" id="monumentsPage" style="background-image: url(@routes.Assets.versioned("images/antique-period/_1.jpg"));
        background-position: center;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title">
                            <h1 class="text-uppercase" id="monuments-header-title-1"></h1>
                        </div>
                        <div class="breadcrumb-menu">
                            <ul class="clearfix">
                                <li><a href="/" id="monuments-home-menu"></a></li>
                                <li class="active" id="monuments-sub-menu"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!--End breadcrumb area-->
        <!--Start blog single area-->
    <style>
            .custom-tabs a {
                color: #555;
            }

            .active a {
                /*text-decoration: underline;*/
                color: #ffba00;
                font-weight: bolder;
            }

            .custom-tabs {
                padding: 5px 0;
                border-left: 1px solid #ffba00;
                border-right: 1px solid #ffba00;
            }
    </style>
    <section class="blog-single-area">
        <div class="container rounded" style="background-image: url(@routes.Assets.versioned("/images/big-bg.jpg"));
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover">
            <ul class="nav nav-tabs bg-light rounded">
                <li class="px-2 custom-tabs active">
                    <a href="#1" data-toggle="tab" id="#1"></a>
                </li>
                <li class="px-2 custom-tabs"><a href="#2" data-toggle="tab" id="#2"></a>
                </li>
                <li class="px-2 custom-tabs"><a href="#3" data-toggle="tab" id="#3"></a>
                </li>
                <li class="px-2 custom-tabs"><a href="#4" data-toggle="tab" id="#4"></a>
                </li>
                <li class="px-2 custom-tabs"><a href="#5" data-toggle="tab" id="#5"></a>
                </li>
            </ul>

            <div class="tab-content lead text-justify text-dark">
                    <!-- 1 -->
                <div class="tab-pane active" id="1">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="blog-post" >
                                <div class="blog-details-content">
                                    <div class="text-holder">
                                        <h2 class="blog-title" id="monuments-blog-title-one-1"></h2>
                                        <div class="text">
                                            <p class="mar-bottom" id="monuments-blog-info-one-1"></p>
                                        </div>
                                    </div>
                                    <div class="bottom-image-box">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="single-image-box">
                                                    <img src="@routes.Assets.versioned("images/370/_1.jpg")" alt="Awesome Image">
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="single-image-box">
                                                    <img src="@routes.Assets.versioned("images/370/_2.jpg")" alt="Awesome Image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text text-center">
                                            <p id="monuments-image-title"></p>
                                        </div>
                                    </div>
                                    <p class="bottom-text-box">
                                <p id="monuments-blog-info-one-2"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- 2 -->
                <div class="tab-pane" id="2">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-two-1"></h2>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-two-1"></p>
                            </div>
                        </div>
                        <div class="bottom-image-box">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="single-image-box">
                                        <img src="@routes.Assets.versioned("images/370/_1.jpg")" alt="Awesome Image">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="single-image-box">
                                        <img src="@routes.Assets.versioned("images/370/_2.jpg")" alt="Awesome Image">
                                    </div>
                                </div>
                            </div>
                            <div class="text text-center">
                                <p id="monuments-image-title"></p>
                            </div>
                        </div>
                        <p class="bottom-text-box">
                    <p id="monuments-blog-info-two-2"></p>
                    </div>
                </div>
                    <!-- 3 -->
                <div class="tab-pane" id="3">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-three-1"></h2>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-three-1"></p>
                            </div>
                        </div>
                        <div class="bottom-image-box">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="single-image-box">
                                        <img src="@routes.Assets.versioned("images/370/_1.jpg")" alt="Awesome Image">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="single-image-box">
                                        <img src="@routes.Assets.versioned("images/370/_2.jpg")" alt="Awesome Image">
                                    </div>
                                </div>
                            </div>
                            <div class="text text-center">
                                <p id="monuments-image-title"></p>
                            </div>
                        </div>
                        <p class="bottom-text-box">
                    <p id="monuments-blog-info-three-2"></p>
                    </div>
                </div>
                    <!-- 4 -->
                <div class="tab-pane" id="4">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-four-1"></h2>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-four-1"></p>
                            </div>
                        </div>
                        <div class="bottom-image-box">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="single-image-box">
                                        <img src="@routes.Assets.versioned("images/370/_1.jpg")" alt="Awesome Image">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="single-image-box">
                                        <img src="@routes.Assets.versioned("images/370/_2.jpg")" alt="Awesome Image">
                                    </div>
                                </div>
                            </div>
                            <div class="text text-center">
                                <p id="monuments-image-title"></p>
                            </div>
                        </div>
                        <p class="bottom-text-box">
                    <p id="monuments-blog-info-four-2"></p>
                    </div>
                </div>
                    <!-- 5 -->
                <div class="tab-pane" id="5">
                    <div class="blog-details-content">
                        <div class="text-holder">
                            <h2 class="blog-title" id="monuments-blog-title-five-1"></h2>
                            <div class="text">
                                <p class="mar-bottom" id="monuments-blog-info-five-1"></p>
                            </div>
                        </div>
                        <div class="bottom-image-box">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="single-image-box">
                                        <img src="@routes.Assets.versioned("images/370/_1.jpg")" alt="Awesome Image">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="single-image-box">
                                        <img src="@routes.Assets.versioned("images/370/_2.jpg")" alt="Awesome Image">
                                    </div>
                                </div>
                            </div>
                            <div class="text text-center">
                                <p id="monuments-image-title"></p>
                            </div>
                        </div>
                        <p class="bottom-text-box">
                    <p id="monuments-blog-info-five-2"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!--End blog single area-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
}
