@()

@main() {

    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" id="monumentsPage" style="background-image: url(@routes.Assets.versioned("images/antique-period/_1.jpg"));
        background-position: center;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title">
                            <h1 class="text-uppercase" id="monuments-header-title-1"></h1>
                        </div>
                        <div class="breadcrumb-menu">
                            <ul class="clearfix">
                                <li><a href="/" id="monuments-home-menu"></a></li>
                                <li class="active" id="monuments-sub-menu"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!--End breadcrumb area-->

        <!--Start blog single area-->
    <section class="blog-single-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="blog-post">
                        <div class="blog-details-content">
                            <div class="img-holder">
                                <img src="@routes.Assets.versioned("images/blog/blog-single-1.jpg")" alt="Awesome Image">
                            </div>
                            <div class="text-holder">
                                <h2 class="blog-title" id="monuments-blog-title-one-1"></h2>
                                <div class="text">
                                    <p class="mar-bottom" id="monuments-blog-info-one-1"></p>
                                </div>
                            </div>
                            <div class="bottom-image-box">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="single-image-box">
                                            <img src="@routes.Assets.versioned("images/370/_1.jpg")" alt="Awesome Image">
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="single-image-box">
                                            <img src="@routes.Assets.versioned("images/370/_2.jpg")" alt="Awesome Image">
                                        </div>
                                    </div>
                                </div>
                                <div class="text text-center">
                                    <p id="monuments-image-title"></p>
                                </div>
                            </div>
                            <p class="bottom-text-box">
                        <p id="monuments-blog-info-one-2"></p>
                        </div>
                        <div class="blog-details-content">
                            <div class="img-holder">
                                <img src="@routes.Assets.versioned("images/blog/blog-single-1.jpg")" alt="Awesome Image">
                            </div>
                            <div class="text-holder">
                                <h2 class="blog-title" id="monuments-blog-title-two-1"></h2>
                                <div class="text">
                                    <p class="mar-bottom" id="monuments-blog-info-two-1"></p>
                                </div>
                            </div>
                            <div class="bottom-image-box">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="single-image-box">
                                            <img src="@routes.Assets.versioned("images/370/_1.jpg")" alt="Awesome Image">
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="single-image-box">
                                            <img src="@routes.Assets.versioned("images/370/_2.jpg")" alt="Awesome Image">
                                        </div>
                                    </div>
                                </div>
                                <div class="text text-center">
                                    <p id="monuments-image-title"></p>
                                </div>
                            </div>
                            <p class="bottom-text-box">
                        <p id="monuments-blog-info-two-2"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!--End blog single area-->

}
