@(lang: String)

  @main(lang) {
    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" id="mediaPage" style="background-image: url(@routes.Assets.versioned("./images/1920/1920_2.jpg"));">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="inner-content clearfix">
              <div class="title">
                <h1 id="multimedia-header"></h1>
              </div>
              <div class="breadcrumb-menu">
                <ul class="clearfix">
                  <li><a href="/" id="sub-menu-home-for-media"></a></li>
                  <li class="active" id="sub-menu-multimedia"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
      <!--End breadcrumb area-->
      <!--Start Events Area-->
    <section class="events-area">
      <div class="container">
        <div class="sec-title">
          <div class="big-title"><h1 id="upcomingVideos"></h1></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <iframe width="100%" height="400px" src="https://www.youtube.com/embed/RiWaRqGvD88" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <iframe  width="100%" height="400px" src="https://www.youtube.com/embed/By9nL_ovlyc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <iframe  width="100%" height="400px" src="https://www.youtube.com/embed/yHHR7RoGXBU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <iframe width="100%" height="400px" src="https://www.youtube.com/embed/vu8x54lGbTU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/E05Llq-VJII" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/IyTAtIUG4nM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/klqkXLM5XNQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/6bcVJGnCzbo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/MFaq6GMfSkY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/sMqnL2q7ndo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>


      </div>
    </section>
      <!--End Events Area-->
  }
