@()
<!--Start footer area-->
<footer class="footer-area">
    <div class="footer">
        <div class="container">
            <div class="row">
                    <!--Start single footer widget-->
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-footer-widget marbtm50">
                        <div class="footer-logo">
                            <a href="/"><img src="@routes.Assets.versioned("images/resources/logo.png")" alt="Footer Logo"></a>
                        </div>
                    </div>
                </div>
                    <!--End single footer widget-->
                    <!--Start single footer widget-->
                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-footer-widget marbtm50">
                        <div class="title">
                            <h3 id="extras"></h3>
                        </div>
                        <ul class="social-links">
                            <li><a href="#">YouTube</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Telegram</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ul>
                    </div>
                </div>
                    <!--End single footer widget-->
                    <!--Start single footer widget-->
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-footer-widget">
                        <div class="title">
                            <h3 id="contacts"></h3>
                        </div>
                        <div class="contact-us">
                        </div>
                    </div>
                </div>
                    <!--End single footer widget-->
                    <!--Start single footer widget-->
                <div class="col-xl-2 col-lg-8 col-md-8 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-footer-widget opening-hours-box pdtop50">
                        <div class="title">
                            <h3 id="openHours"></h3>
                        </div>
                        <div class="opening-hours">
                            <p id="dateOfOpenHours"></p>
                        </div>
                    </div>
                </div>
                    <!--End single footer widget-->
                    <!--Start single footer widget-->
                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-footer-widget pdtop50">
                        <div class="title">
                            <h3 id="quickLink"></h3>
                        </div>
                        <ul class="quick-links">
                            <li><a href="/" id="homeLink"></a></li>
                            <li><a href="/antique-period" id="historyLink"></a></li>
                            <li><a href="#" id="eventsLink"></a></li>
                            <li><a href="/" id="contactLink"></a></li>
                        </ul>
                    </div>
                </div>
                    <!--End single footer widget-->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="outer-box">
                <div class="footer-bottom-left">
                    <div class="text">
                        <p id="footerAboutWebSite"></p>
                    </div>
                </div>
                <div class="footer-bottom-right">
                    <div class="copyright-text">
                        <p>© <script>document.write(new Date().getFullYear())</script>
                            . <span id="allRightReserved"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!--End footer area-->