@()
<!-- main header -->
<header class="main-header">
        <!--Start header top -->
    <div class="header-top">
        <div class="container">
            <div class="outer-box clearfix">
                    <!--Top Left-->
                <div class="header-top-left float-left">
                    <ul>
                        <li><a href="#" onclick="contentTranslate('en')">En</a></li>
                        <li><a href="#" onclick="contentTranslate('ru')">Ru</a></li>
                        <li><a href="#" onclick="contentTranslate('uz')">Uz</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <!--End header top -->

        <!--Start Header upper -->
    <div class="header-upper">
        <div class="container clearfix">
            <div class="outer-box clearfix">
                <div class="header-upper-left clearfix float-left">
                    <div class="logo">
                        <a href="/"><img src="@routes.Assets.versioned("images/resources/logo.png")" alt="Awesome Logo" title=""></a>
                    </div>
                </div>
                <div class="header-upper-right float-right clearfix">
                    <div class="nav-outer clearfix">
                            <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-lg">
                            <div class="navbar-header">
                                    <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li><a href="/" id="menuHome"></a></li>
                                    <li><a href="/events" id="menuNews"></a></li>
                                    <li class="dropdown"><a href="#" id="menuAboutKhorezm"></a>
                                        <ul>
                                            <li class="dropdown"><a href="art.html" id="subMenuHistoryOfKhorezm"></a>
                                                <ul>
                                                    <li><a href="antique-period" id="dropMenuAntiquePeriod"></a></li>
                                                    <li><a href="ancient-period" id="dropMenuAncientPeriod"></a></li>
                                                    <li><a href="early-middle-ages" id="dropMenuMiddleAges"></a></li>
                                                    <li><a href="#" id="dropMenuNinthFifteenth"></a></li>
                                                    <li><a href="#" id="dropMenuSixteenthTwentieth"></a></li>
                                                    <li><a href="#" id="dropMenuIndependenceTime"></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="cities" id="subMenuKhorezmCities"></a></li>
                                            <li><a href="tickets.html" id="subMenuKhorezmCultures"></a></li>
                                            <li><a href="tickets.html" id="subMenuArtOfKhorezm"></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="gallery.html" id="menuInteractiveServices"></a></li>
                                    <li><a href="#" id="menuMultimedia"></a></li>
                                        <!--<li><a href="contact.html" id="menuOpenData"></a></li>-->
                                    <li><a href="contact.html" id="menuForum"></a></li>
                                </ul>
                            </div>
                        </nav>
                            <!-- Main Menu End-->
                        <div class="menu-right-content">
                            <div class="outer-search-box-style1">
                                <div class="seach-toggle"><i class="fa fa-search"></i></div>
                                <ul class="search-box">
                                    <li>
                                        <form method="post">
                                            <div class="form-group">
                                                <input type="search" name="search" required>
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
        <!--End Header Upper-->

        <!--Sticky Header-->
    <div class="sticky-header">
        <div class="container">
            <div class="clearfix">
                    <!--Logo-->
                <div class="logo float-left">
                    <a href="/" class="img-responsive"><img src="@routes.Assets.versioned("images/resources/logo.png")" alt="" title=""></a>
                </div>
                    <!--Right Col-->
                <div class="right-col float-right">
                        <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="/" id="menuStickyHome"></a></li>
                                <li><a href="/events" id="menuStickyNews"></a></li>
                                <li class="dropdown"><a href="#" id="menuStickyAboutKhorezm"></a>
                                    <ul>
                                        <li class="dropdown"><a href="art.html" id="subMenuStickyHistoryOfKhorezm"></a>
                                            <ul>
                                                <li><a href="antique-period" id="dropMenuStickyAntiquePeriod"></a></li>
                                                <li><a href="ancient-period" id="dropMenuStickyAncientPeriod"></a></li>
                                                <li><a href="#" id="dropMenuStickyMiddleAges"></a></li>
                                                <li><a href="#" id="dropMenuStickyNinthFifteenth"></a></li>
                                                <li><a href="#" id="dropMenuStickySixteenthTwentieth"></a></li>
                                                <li><a href="#" id="dropMenuStickyIndependenceTime"></a></li>
                                            </ul>
                                        </li>
                                        <li><a href="cities" id="subMenuStickyKhorezmCities"></a></li>
                                        <li><a href="tickets.html" id="subMenuStickyKhorezmCultures"></a></li>
                                        <li><a href="tickets.html" id="subMenuStickyArtOfKhorezm"></a></li>
                                    </ul>
                                </li>
                                <li><a href="gallery.html" id="menuStickyInteractiveServices"></a></li>
                                <li><a href="#" id="menuStickyMultimedia"></a></li>
                                    <!--<li><a href="contact.html" id="menuStickyOpenData"></a></li>-->
                                <li><a href="contact.html" id="menuStickyForum"></a></li>
                            </ul>
                        </div>
                    </nav>
                        <!-- Main Menu End-->
                </div>
            </div>
        </div>
    </div>
        <!--End Sticky Header-->
</header>