@(lang: String)

    @main(lang) {

        <!--Start breadcrumb area-->
        <section class="breadcrumb-area" id="khazoraspCitiesPage" style="background-image: url(@routes.Assets.versioned("images/xorazm_tarixi.jpg"));
            background-position: center;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content clearfix">
                            <div class="title">
                                <h1 class="text-uppercase" id="cities-header-title-1"></h1>
                            </div>
                            <div class="breadcrumb-menu">
                                <ul class="clearfix">
                                    <li><a href="/@{
                                        if(lang != "uz") "?l=" + lang
                                    }" id="cities-home-menu"></a></li>
                                    <li class="active" id="cities-sub-menu"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#scc" class="scrollDownArrow" style="width: 2em;
                height: 2em;
                background-color: transparent;
                z-index: 80;
                bottom: 25px;
                position: absolute;
                border-width: 0 0.25em 0.25em 0;
                border-style: solid;
                border-color: antiquewhite;
                animation: scrolldown 1.2s ease-in-out infinite 0.15s;"></a>
            <a href="#scc" class="scrollDownArrow" style="width: 2em;
                height: 2em;
                background-color: transparent;
                z-index: 80;
                bottom: 40px;
                position: absolute;
                border-width: 0 0.25em 0.25em 0;
                border-style: solid;
                border-color: antiquewhite;
                animation: scrolldown 1.2s ease-in-out infinite;"></a>
        </section>
            <!--End breadcrumb area-->
            <!--Start blog single area-->
        <section class="blog-single-area text-justify" id="scc">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="blog-post">
                            <div class="blog-details-content">
                                @*<div class="img-holder">
                                    <img class="rounded" src="@routes.Assets.versioned("images/blog/blog-single-1.jpg")" alt="Awesome Image">
                                </div>*@
                                <div class="text-holder">
                                    <h2 class="blog-title text-uppercase" id="cities-blog-title-one-1"></h2>
                                    <div class="text">
                                        <p class="mar-bottom" id="cities-blog-info-one-1"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!--End blog single area-->


    }
