@(lang: String)

@main(lang) {

    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" id="niqobPage" style="background-image: url(@routes.Assets.versioned("images/xorazm_tarixi.jpg"));
        background-position: center;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix">
                        <div class="title">
                            <h1 id="main-exhibition-header"></h1>
                        </div>
                        <div class="breadcrumb-menu">
                            <ul class="clearfix">
                                <li><a href="/" id="sub-menu-main-exhibition-home"></a></li>
                                <li class="active" id="sub-menu-main-exhibition"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#scc" class="scrollDownArrow" style="width: 2em;
            height: 2em;
            background-color: transparent;
            z-index: 80;
            bottom: 25px;
            position: absolute;
            border-width: 0 0.25em 0.25em 0;
            border-style: solid;
            border-color: antiquewhite;
            animation: scrolldown 1.2s ease-in-out infinite 0.15s;"></a>
        <a href="#scc" class="scrollDownArrow" style="width: 2em;
            height: 2em;
            background-color: transparent;
            z-index: 80;
            bottom: 40px;
            position: absolute;
            border-width: 0 0.25em 0.25em 0;
            border-style: solid;
            border-color: antiquewhite;
            animation: scrolldown 1.2s ease-in-out infinite;"></a>
    </section>
        <!--End breadcrumb area-->

        <!--Start subscribe Area-->
    <section class="subscribe-area style3" id="scc">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <h3 class="text-center" id="exibition-content-title"></h3>
                    <p class="text-justify" id="exibition-content"></p>
                </div>
                <div class="col-xl-4">
                    <div class="welcome-image-box mt-5" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
                        <img class="rounded mb-3" src="@routes.Assets.versioned("images/370/_5.jpg")" alt="Awesome Image">
                        <a href="/" class="btn btn-outline-dark text-center"><i class="fa fa-arrow-left px-5"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!--End subscribe Area-->

}
